/** {
    --darkblue: #2d3142; 
    --aqua: #5BaeB7;
    --darkgrey: #4f5d75;
    --lightgray: #BFc0c0;
}*/

body {
background-color: aliceblue;

}


#heading{

    color: #5BaeB7;
    font-family: "DM Serif Display", serif;
    font-size: 96px;
    line-height: 134.4px;
    letter-spacing: 10px;
    font-weight: 400;

}

.description {

}

.description > ul {

}

nav {
    background-color: #5BaeB7;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav > ul {

    font-size: 24px;
    line-height: 150%;

}

nav > ul > li {

}

h1{

    color: #4f5d75;
    text-transform: uppercase;
    font-family: "Dm Serif Display", serif;
    font-size: 48 px;
    font-style: normal;
    font-weight: 300px;
    line-height: 140%;
    letter-spacing: 6px;


}

h2{

    color: #4f5d75;
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-size: 48 px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 4.8px;
    

}

h3{

    color: #4f5d75;
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-size: 48 px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 6x;

}

strong{

}

italic{

}